.landing-page-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
  
.content {
  flex: 1;
  padding: 20px;
  /* Add any other styles you want for your content area */
}
  
  /* Ensure Header and Footer components span full width */
header, footer {
  width: 100%;
}

#root {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 0px;
}

.navbar {
  background-color: #333333;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0px;
}
